# LaTeX
**/*.aux
**/*.auxlock
**/*.bbl
**/*-blx.bib
**/*.bcf
**/*.blg
**/*.dep
**/*.dpth
**/*.md5
**/*.fdb_latexmk
**/*.fls
**/*.idx
**/*.ilg
**/*.ind
**/*.loe
**/*.log
**/*.nav
**/*.out
**/*.run.xml
**/*.snm
**/*.synctex.gz
**/*.synctex\(busy\)
**/*.toc

# macOS
*.DS_Store

# Python
*__pycache__
